
body {
    background-color: lightblue;
}

h1 {
    text-align: center
}

#paragraph2 {
    padding: 25px;
    border: 4px solid green;
    margin: 2px;
    background-color: white;
    line-height: 1.5em;
}

p.blue {
    color: white;
    padding: 15px;
    border-color: lightblue;
    background-color: darkblue;
}

li a {
    color: blue;
    list-style-type: decimal-leading-zero
}

p a {
    color: orange
}

table, td, tr {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: grey;
}