
body {
    background-color: lightblue;
}

h1 {
    text-align: center
}

#paragraph2 {
    padding: 25px;
    border: 4px solid green;
    margin: 2px;
    background-color: white;
    line-height: 2em;
}

p.blue {
    color: white;
    padding: 15px;
    border-color: black;
    background-color: darkblue;
}

li {
    list-style-type: decimal-leading-zero;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}

li a {
    color: blue;
}

p a {
    color: orange
}

table, td, tr {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: white;
    padding: 10 px;

}

th {
    background-color: grey;
}