
body {
    background-color: lightblue;
}

h1 {
    text-align: center
}

#paragraph2 {
    padding: 30px;
    border: 4px solid green;
    margin: 20px;
    background-color: white;
    line-height: 2em;
}

p.blue {
    color: white;
    padding: 15px;
    border-color: black;
    background-color: darkblue;
}

ol li::marker {
    list-style-type: decimal-leading-zero;
    text-align: left;
    font-size: 15px;
}

li a {
    color: blue;
}

p a {
    color: orange
}

table, td, tr {
    padding: 10 px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: lightgray;
    border: 1px solid black;
    border-collapse: collapse;
}