body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-left: 15%;
    float: right;
    height: 100%;
}

h1 {
    text-align: center;
}

#menuItems {
    position: fixed;
    display: flex;             
    flex-direction: column;    
    left: 0px;
    width: 15%;
    height: 100%;
    text-align: center;
    background-color: black;
}

button {
    font-size: 20px;
    background-color: blue;
    color: white;
    padding: 20px;
}

button:hover {
    background-color: orange;
}

#jumpMenu {
    display: none;
    top: 100%;   
    left: 0;
    margin: 0%;
    padding: 0;
    font-size: 18px;
    background-color: orange;
    color: blue;
}

#recentArticles:hover + #jumpMenu, #jumpMenu:hover{
    display: block;
}

#jumpMenu li a {
    display: block;
    width: 100%;
    text-decoration: none;
}

#jumpMenu li a:hover {
    
    background-color: blue;
    color: white;
}

header {
    position: sticky;
    top: 0;
}

header p {
    font-size: 30px;
    text-align: center;
    justify-content: center;
    background-color: red;
    padding: 40px;
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container article {
    width: 275px;
    height: 575px;
    margin: 20px;
    padding: 10px;
    text-align: justify;
    color: rgb(159, 159, 159);

    transition: all 2s;
}

#container article:hover {
    color: black;
    width: 290px;
    height: 650px;
    font-size: 1.15rem;
}

#container article p:first-of-type::first-letter {
    font-family: "Times New Roman", Times, serif;
    font-size: 36px;
}

article a::after {
    content: url(/assets/images/arrow.png)
}

#thanks {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: lightblue;
    border: 1px solid black;
    font-size: 24px;
    font-style: underline;
    text-align: center;
    padding: 20px;
}