body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #B6BCBE;
}

h1 {
    text-align: center;
}
h2 {
    color: #433F4E;
    font-size: clamp(20px, 1.5vw, 26px);
}
h3 {
    font-size: clamp(18px, 1.5vw, 24px);
}
h4 {
    font-size: clamp(16px, 1.5vw, 22px);
}

p, ul, a {
  font-size: clamp(16px, 1.5vw, 22px);
}
p {font-style:italic;}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #433F4E;
}

@media screen and (max-width: 600px)
{
body{background-color: #EDE8D0;}
h1 {color: #3F2A32;}
h2 {
    color: #895129;
    text-align: center;}
img {
    display: block;            
    margin-left: auto;       
    margin-right: auto;
    max-width: 100%;
    border: 2px solid #895129;}
}