body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #B6BCBE;
}

h1 {
    text-align: center;
}

#connect {
    text-align: center;
    color: #5E6D74
}

h2 {
    color: #433F4E;
    font-size: clamp(20px, 1.5vw, 26px);
}
h3 {
    font-size: clamp(18px, 1.5vw, 24px);
}
h4 {
    font-size: clamp(16px, 1.5vw, 22px);
}

#education, h4 {
    margin: 1px;
    font-style: italic;
}

#position {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#date {
    margin-left:auto;
    font-style: italic;
}

#objective {
    font-style: italic;
}

p, ul, a {
  font-size: clamp(16px, 1.5vw, 22px);
}

@media screen and (max-width: 600px)
{
body{background-color: #EDE8D0;}
#position {
    flex-direction: column;
    align-items: flex-start;}
#date {
    margin-left: 0;
    margin-top: 2px;  
    text-align: left;}
h2 {color: #3F2A32}
h3 {color: #895129}
}